<div id="container">
    <div class="mover">
        <div id="mover">
            <!-- no space between! -->
            <div class="slide" style="background-image: url('../Static/Images/slide1.jpg');">
            </div><div class="slide" style="background-image: url('../Static/Images/slide2.jpg');">
            </div><div class="slide" style="background-image: url('../Static/Images/slide3.jpg');">
            </div><div class="slide" style="background-image: url('../Static/Images/slide4.jpg');">
            </div><div class="slide" style="background-image: url('../Static/Images/slide5.jpg');">
            </div><div class="slide" style="background-image: url('../Static/Images/slide6.jpg');">
            </div>
        </div>
        <a class="slide left" id="btn-left">&#10094;</a>
        <a class="slide right" id="btn-right">&#10095;</a>
        <div class="dot-container" id="dot-container">
            <!-- dots -->
        </div>
    </div>
</div>